
body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}



.Graph { 
    margin-top:90px;
    width: 200px;
    height: 600px; 
    position: relative;
    margin-left: 39px;
}


.bar1 {
   box-sizing: border-box;
  background-color: green;
  border: 1px solid;
  position: absolute;
  bottom:0;
  right: 50px;
   transition: 0.3s ease;
}

.bar2 {
  background-color: tomato;
  border: 1px solid;
  width: 20px;
  position:absolute;
  bottom:0;
}
 
.fast{
  background-color: #9296bc;
  box-shadow:0px 1px 16px #8888B3;
}
#mainNav {
  background-color:  #a592bc;
}

.navbar-default .navbar-brand{
   color: #F9F9F9;
}

.navbar-default .navbar-nav>li>a { 
  color: #F9F9F9;
 }

 .code {
  padding: 2px 4px;
  background-color: #efdee2;
  font-size: 90%;
  border-radius: 4px;
 }


#current {
  color: tomato;
}

#sorted {
  color: green;
}




#indent {
  text-indent: 5%;
}
#indent2 {
  text-indent: 11%;
}
#indent3 {
  text-indent: 15%;
}
#indent4 {
  text-indent: 11%;
}
#indent5 {
  text-indent: 5%;
}
#indent6 {
  text-indent: 4%;
}

#indent7 {
  text-indent: 4%;
}

#indent8 {
  text-indent: 4%;
}

#indent9 {
  text-indent: 8%;
}

#indent10 {
  text-indent: 10%;
}

#indent11 {
  text-indent: 10%;
}

#indent12 {
  text-indent: 13%;
}

#indent13 {
  text-indent: 13%;
}

#indent14 {
  text-indent: 16%;
}

#indent15 {
  text-indent: 13%;
}

#indent16 {
  text-indent: 13%;
}

#indent17 {
  text-indent: 8%;
}
#indent18 {
  text-indent: 8%;
}

#indent19{
  text-indent: 8%;
}

#indent20 {
  text-indent: 12%;
}

#indent21 {
  text-indent: 8%;
}

#indent22 {
  text-indent: 4%;
}

.wrap{
    background: #f9f9f9;
    height: 6px;
    width: 79px;
    position: relative;
    display:inline-block;
}
.circle{
    background: red;
    border-radius: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    margin: -25px 0 0 -25px;
}
.circle_inner{
    position: relative;
    height: 100%;
    width:47px;
    background-color: transparent;
    border-color: transparent;
}
.circle_inner:before{
    content: "";
    cursor: pointer;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 10px 20px;
    border-color: transparent transparent transparent #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -7px;
}

.space {
  margin-top: 39px;
}

.bars-enter {
  opacity: 0.01;
}

.bars-enter.bars-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.bars-leave {
  opacity: 1;
}

.bars-leave.bars-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

